@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

            <div style="text-align: center;">
                <script>
                       window.location = "verifier";
                    </script>
            </div>